.difficulty-container {
    position: relative;
    display: inline-block;
    padding-top: 14px;
}

.difficulty-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.7rem;
}

.stars {
    display: flex;
    flex-direction: row;
    border: 1px solid #a5d907;
    border-radius: 8px;
}

.star {
    height: 24px;
    width: auto;
    display: block;
    margin: 1px;
}

    .star.inactive {
        opacity: 0.5;
        filter: brightness(0.5);
    }
