.main-container {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 0.8rem;
    text-align: center;
    font-weight: bold;
}

.progress-bar {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 200px;
    border: 2px solid #888;
    border-radius: 6px;
    overflow: hidden;
    background-color: #222;
}

.bar-segment {
    flex: 1;
    margin-right: 1px;
    position: relative;
}

    .bar-segment:last-child {
        margin-right: 0;
    }

    .bar-segment::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

