/* /DifficultyScale.razor.rz.scp.css */
.difficulty-container[b-47udwjatnz] {
    position: relative;
    display: inline-block;
    padding-top: 14px;
}

.difficulty-label[b-47udwjatnz] {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.7rem;
}

.stars[b-47udwjatnz] {
    display: flex;
    flex-direction: row;
    border: 1px solid #a5d907;
    border-radius: 8px;
}

.star[b-47udwjatnz] {
    height: 24px;
    width: auto;
    display: block;
    margin: 1px;
}

    .star.inactive[b-47udwjatnz] {
        opacity: 0.5;
        filter: brightness(0.5);
    }
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-mr3otlu8qa] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-mr3otlu8qa] {
    flex: 1;
}

.sidebar[b-mr3otlu8qa] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-mr3otlu8qa] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-mr3otlu8qa]  a, .top-row[b-mr3otlu8qa]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-mr3otlu8qa]  a:hover, .top-row[b-mr3otlu8qa]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-mr3otlu8qa]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-mr3otlu8qa] {
        justify-content: space-between;
    }

    .top-row[b-mr3otlu8qa]  a, .top-row[b-mr3otlu8qa]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-mr3otlu8qa] {
        flex-direction: row;
    }

    .sidebar[b-mr3otlu8qa] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-mr3otlu8qa] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-mr3otlu8qa]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-mr3otlu8qa], article[b-mr3otlu8qa] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /SearchBar.razor.rz.scp.css */
.search-bar[b-5w08u17n3s] {
    padding: 0.5rem;
    width: 300px;
    font-size: 1rem;
}

.search-dropdown[b-5w08u17n3s] {
    margin: 0;
    padding: 0;
    width: 300px;
    border: 1px solid #ccc;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    z-index: 100;
    background-color: black;
    color: white;
}

    .search-dropdown li[b-5w08u17n3s] {
        padding: 0.5rem;
        cursor: pointer;
    }

        .search-dropdown li:hover[b-5w08u17n3s] {
            background-color: #eee;
            color: #222;
        }
/* /ViabilityProgressBars.razor.rz.scp.css */
.main-container[b-nb1tqd9fx5] {
    display: flex;
    flex-direction: column;
}

.title[b-nb1tqd9fx5] {
    font-size: 0.8rem;
    text-align: center;
    font-weight: bold;
}

.progress-bar[b-nb1tqd9fx5] {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 200px;
    border: 2px solid #888;
    border-radius: 6px;
    overflow: hidden;
    background-color: #222;
}

.bar-segment[b-nb1tqd9fx5] {
    flex: 1;
    margin-right: 1px;
    position: relative;
}

    .bar-segment:last-child[b-nb1tqd9fx5] {
        margin-right: 0;
    }

    .bar-segment[b-nb1tqd9fx5]::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

